fastapi 
uvicorn
python-multipart
starlette
pypdf
python-docx 
openai
python-dotenv
ollama
# pyresparser
# spacy==2.3.5
# nltk
docling
json_repair #avoids rewriting cleanup functions for json structure
#Database related
asyncpg  #asynch
sqlalchemy #ORM Mapper
databases
fpdf2
google-generativeai